<main class="container">
    <!-- <div class="card">
        
    </div> -->

    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 class="text-white mb-1">Lista de usuários</h1>
            <p class="text-white m-0">Veja aqui, todos os usuários cadastrados!</p>
        </div>

        <div>
            <button class="btn btn-success">
                Cadastrar usuário
            </button>
        </div>
    </div>

    <div class="user-list container my-5">
        <router-outlet></router-outlet>
    </div>



</main>